@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

p {
    font-family: Lato;
  }

.dialog-title{
  position: relative;
  left: 18vw;
}

.dialog-form{
  position: relative;
  display: table;
}

.dialog-form-field{
  position: relative;
  display: table-row;
}

.dialog-actions{ 
  position: relative;
  left: 30vw;
}

.dialog-input{
  position: relative;
  display: table-cell;
}

.dialog-label{
  position: relative;
  display: table-cell;
  padding-right: 10vw;
  padding-left: 8vw;
}

.errorSpan{
  position: relative;
  display: table-cell;
  color: red;
}